@import "../../common/mixins";

.navi-menu-bar-button {
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;

    @include breakpoint(desktop) {
        margin-right: 16px;
    }
}
