@import "../../common/mixins";

.header-wrap {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;

    .wordmark {
        width: 96px;
        cursor: pointer;
    }

    .menu-bar {
        display: none;

        @include breakpoint(desktop) {
            display: block;
        }
    }
}
