@import "../../common/colors";
@import "../../common/mixins";

.detail-page-header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-bottom: 1px solid $borderGray;
    background-color: white;
}

.detail-page-wrap {
    display: flex;

    @include breakpoint(wide) {
        justify-content: center;
    }

    .content-wrap {
        width: 100vw;
        height: 100%;
        flex-direction: column;
        margin-top: 56px;

        @include breakpoint(wide) {
            width: 1280px;
        }

        .detail-wrap {
            display: flex;
            flex-direction: column;

            @include breakpoint(tablet) {
                flex-direction: row;
                justify-content: space-between;
                padding: 40px;
            }
        }

        .detail-pictures {
            @include breakpoint(tablet) {
                width: calc(50% - 8px);
            }

            .main-frame {
                // background-color: crimson;
            }
            .sub-frame {
                background-color: rosybrown;
                display: none;

                @include breakpoint(tablet) {
                    display: block;
                    margin-top: 16px;
                }
            }
            .image {
                width: 100%;
                height: 100%;
            }
        }

        .detail-contents {
            // background-color: lightcoral;
            padding: 16px;

            @include breakpoint(tablet) {
                width: calc(50% - 8px);
            }

            .product-title {
                font-size: 28px;
                font-weight: 700;
            }

            .product-summary {
                font-size: 14px;
                margin-top: 8px;
            }
            .product-price {
                margin-top: 16px;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}
