@import "../../common/colors";
@import "../../common/mixins";

.footer-wrap {
    display: flex;
    flex-direction: column;
    padding: 80px 40px;

    @include breakpoint(wide) {
        padding: 80px 16px;
    }
}

.footer-wordmark {
    width: 100%;
    margin-bottom: 48px;

    @include breakpoint(tablet) {
        margin-bottom: 24px;
        width: max-content;
    }
}

.footer-middle-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 16px;

    @include breakpoint(tablet) {
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .footer-middle-address {
        font-size: 12px;
        margin-bottom: 16px;
        text-align: center;

        @include breakpoint(tablet) {
            text-align: left;
            margin-bottom: 0;
        }
    }

    .footer-middle-social-button {
        padding: 4px;
        margin-left: 16px;
    }
}

.footer-end-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 12px;
    margin-top: 16px;

    @include breakpoint(tablet) {
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .footer-end-copyright {
        margin-bottom: 8px;
    }

    .footer-end-terms-button-wrap {
        display: flex;
        justify-content: center;
    }

    .footer-end-terms-button {
        font-size: 12px;

        @include breakpoint(tablet) {
            margin-left: 16px;
            justify-content: space-between;
        }
    }
}
