$backgroundGray: #f2f2f2;
$borderGray: #e3e3e3;
$gray: #6e6e6e;
$red: rgb(224, 58, 58);
$button-disabled-gray: rgb(179, 179, 179);
$sidebar-gray: #36363a;
$sidebar-selected-gray: #212124;
$sidebar-selected-hover-gray: #6b6b6b;
$sidebar-border-gray: #525252;
$black: #000;
